<div class="container d-flex justify-content-center">
    <a href="./recetas" class="btn btn-primary btn-lg">RECETAS</a>
    <a href="./ingredientes" class="btn btn-warning btn-lg">INGREDIENTES</a>
    <a href="./unidades" class="btn btn-info btn-lg">MEDIDAS</a>
</div>
